<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="DBconnection" connectionString="Password=Conestoga1;Persist Security Info=True;User ID=sa;Initial Catalog=AdvSqlProjectDB;Data Source=2A314-A06" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="SecondsToRunOnClick" value ="10"/>
    </appSettings>
</configuration>